#projectForm {
    max-width: 600px;
    width: 100%;
}


#create-project-popup {
    background-color: rgba(215,215,215,255);
    padding: 20px;
    border-radius: 25px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Subtle box shadow for depth */
}

#create-project-popup span, 
#create-project-popup label, 
#create-project-popup input, 
#create-project-popup textarea, 
#create-project-popup button {
    color: rgba(100,99,99,255); /* Orange text */
}


#projectForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgba(215,215,215,255) ;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 5px;
}

#create-project-popup > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#create-project-popup > div:first-child > span {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 24px;
}

#create-project-popup button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: rgba(246,217,0,255);
    color: rgba(100,99,99,255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#create-project-popup button:hover {
    background-color: rgba(246,217,0,255); /* Darker shade of orange for hover effect */
}

#projectID,
#employeeDepartment, 
#projectName,
#employeeID,
#teamID,
#project-deadline {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

#projectDescription{
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 100%;
}


  
