.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.header {
  grid-column: 1 / 4;
  background-color: rgba(210,210,210,255);
  padding: 20px;
  color: white;
  text-align: center;
  position: relative;
}

.left-sidebar, .right-sidebar {
  background-color: rgba(215,215,215,255);
  padding: 20px;
  border-radius: 20px;
}